<div #hostContent *ngIf="!_close_card"
     [class.card-collapsed]="_isCollapsed"
     [class.card-maximized]="_isMaximixed"
     class="card card-{{_type}} {{_additionalClasses}}">
  <div class="card-header {{_extraHeaderClass}}">
    <div class="card-title">
      <ng-template [ngTemplateOutlet]="CardTitle"></ng-template>
    </div>
    <div *ngIf="_showTools == true" class="card-controls">
      <ul *ngIf="_minimalHeader == false; else minimalBlock">
        <ng-template [ngTemplateOutlet]="CardExtraControls"></ng-template>
        <li *ngIf="_toggle == true"><a (click)='toggle()' class="card-collapse" data-toggle href="javascript:void(0);"><i [class.pg-arrow_minimize]="_isCollapsed"
                                                                                                                          class="pg pg-arrow_maximize"></i></a>
        </li>
        <li *ngIf="_refresh == true"><a (click)='refresh()' class="card-refresh" data-toggle href="javascript:void(0);"><i class="card-icon card-icon-refresh"></i></a>
        </li>
        <li *ngIf="_maximize == true"><a (click)='maximize()' class="card-maximize" data-toggle href="javascript:void(0);"><i class="card-icon card-icon-maximize"></i></a>
        </li>
        <li *ngIf="_close == true"><a (click)='close()' class="card-close" data-toggle href="javascript:void(0);"><i class="card-icon card-icon-close"></i></a>
        </li>
      </ul>
      <ng-template #minimalBlock>
        <ul>
          <li>
            <a (click)='refresh()' [class.refreshing]="_isLoading" class="card-refresh minimal" href="javascript:void(0);">
              <i #minimalCircleLoadingTrigger [class.fade]="_isLoading" class="card-icon card-icon-refresh-lg-{{_refreshColor == 'light' ? 'white' : 'master'}}"></i>
              <i #minimalCircleLoading
                 [class.active]="_isLoading" [class.hide]="_isLoading != true" class="card-icon-refresh-lg-white-animated" style="position: absolute;top:0;left:0"></i>
            </a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
  <div [@collapseState]="_isCollapsed == true ?'inactive':'active'" class="card-body {{_extraBodyClass}}">
    <ng-content></ng-content>
  </div>
  <div *ngIf="_messageVisible == true" class="pgn-wrapper" data-position="top">
    <div class="pgn pgn-bar push-on-sidebar-open">
      <div class="alert alert-danger">
        <span>{{_message}}</span>
        <button (click)='alertDismiss()' class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      </div>
    </div>
  </div>
  <div *ngIf="_messageVisible == true" [style.backgroundColor]="_minimalHeader ? 'rgba(0,0,0, 0.6)' : 'rgba(255, 255, 255, 0.8)'" class="card-progress" style=" display: block;">

  </div>
  <div [@fadeAnimation]="_isLoading" [style.backgroundColor]="_minimalHeader ? 'rgba(0,0,0, 0.6)' : 'rgba(255, 255, 255, 0.8)'" class="card-progress"
       style="display: block;pointer-events: none">
    <pg-progress *ngIf="_minimalHeader == false" class="" color="{{_progressColor}}" indeterminate="true" type="{{_progressType}}"></pg-progress>
  </div>
</div>
