<div *ngIf="type === 'bar';else circleBlock">
  <div *ngIf="indeterminate; else determineBarBlock">
    <div [class.progress-small]=!thick class="progress">
      <div [class.progress-bar-indeterminate]=indeterminate class="progress-bar-{{color}}"></div>
    </div>
  </div>
  <ng-template #determineBarBlock>
    <div [class.progress-small]=!thick class="progress">
      <div [ngStyle]="{'width':value+'%'}" class="progress-bar progress-bar-{{color}}"></div>
    </div>
  </ng-template>
</div>
<ng-template #circleBlock>
  <div class="progress-circle-{{color}}"
       [class.progress-circle-indeterminate]=indeterminate
       [class.progress-circle]=!indeterminate
       [class.progress-circle-thick]=thick
  >
    <div *ngIf="indeterminate; else determineBlock"></div>
    <ng-template #determineBlock>
      <div class="pie" [ngStyle]="_value2 && {'clip': 'rect(auto, auto, auto, auto)'}">
        <div class="left-side half-circle" [ngStyle]="_value2 && {'transform': 'rotate('+value+'deg)'}"></div>
        <div class="right-side half-circle" [ngStyle]="{'transform': _value2 === true ? 'rotate(180deg)' : 'rotate('+value+'deg)'}"></div>
      </div>
      <div class="shadow"></div>
    </ng-template>
  </div>
</ng-template>
