<ul class="main-menu">
  <li *ngFor="let item of menuItems" [class.open]="item.toggle ==='open'">
    <a (click)="toggleNavigationSub($event,item)" *ngIf="item.submenu;else singleLink" [class.detailed]="item.details" href="javascript:">
      <pg-menu-icon *ngIf="item.iconType" [IconName]="item.iconName" [IconType]="item.iconType"></pg-menu-icon>
      <span class="title">{{ item.label }}</span>
      <span *ngIf="item.submenu" [class.open]="item.toggle ==='open'" class=" arrow"></span>
      <span *ngIf="item.badgeCount" class="badge pull-right">{{item.badgeCount}}</span>
    </a>
    <ng-template #singleLink>
      <a *ngIf="item.routerLink" [class.detailed]="item.details" [routerLink]="[item.routerLink]">
        <pg-menu-icon *ngIf="item.iconType" [IconName]="item.iconName" [IconType]="item.iconType"></pg-menu-icon>
        <span class="title">{{ item.label }}</span>
        <span *ngIf="item.submenu" [class.open]="item.toggle ==='open'" class=" arrow"></span>
        <span *ngIf="item.badgeCount" class="badge pull-right">{{item.badgeCount}}</span>
      </a>
      <a *ngIf="item.externalLink" [attr.target]="item.target" [class.detailed]="item.details" href="{{item.externalLink}}">
        <pg-menu-icon *ngIf="item.iconType" [IconName]="item.iconName" [IconType]="item.iconType"></pg-menu-icon>
        <span class="title">{{ item.label }}</span>
        <span *ngIf="item.submenu" [class.open]="item.toggle ==='open'" class=" arrow"></span>
        <span *ngIf="item.badgeCount" class="badge pull-right">{{item.badgeCount}}</span>
      </a>
    </ng-template>
    <ul *ngIf="item.submenu" [@toggleHeight]="item.toggle" class="sub-menu">
      <li *ngFor="let child of item.submenu" [class.open]="child.toggle ==='open'">
        <a (click)="toggleNavigationSub($event,item)" *ngIf="child.submenu;else singleLinkChild" href="javascript:">
          <pg-menu-icon *ngIf="child.iconType" [IconName]="child.iconName" [IconType]="child.iconType"></pg-menu-icon>
          <span class="title">{{ child.label }}</span>
          <span *ngIf="child.submenu" [class.open]="child.toggle ==='open'" class=" arrow"></span>
          <span *ngIf="child.badgeCount" class="badge pull-right">{{child.badgeCount}}</span>
        </a>
        <ng-template #singleLinkChild>
          <a *ngIf="child.routerLink" [routerLink]="[child.routerLink]">
            <pg-menu-icon *ngIf="child.iconType" [IconName]="child.iconName" [IconType]="child.iconType"></pg-menu-icon>
            <span class="title">{{ child.label }}</span>
            <span *ngIf="child.submenu" [class.open]="child.toggle ==='open'" class=" arrow"></span>
            <span *ngIf="child.badgeCount" class="badge pull-right">{{child.badgeCount}}</span>
          </a>
          <a *ngIf="child.externalLink" [attr.target]="item.target" href="{{child.externalLink}}">
            <pg-menu-icon *ngIf="child.iconType" [IconName]="child.iconName" [IconType]="child.iconType"></pg-menu-icon>
            <span class="title">{{ child.label }}</span>
            <span *ngIf="child.submenu" [class.open]="child.toggle ==='open'" class=" arrow"></span>
            <span *ngIf="child.badgeCount" class="badge pull-right">{{child.badgeCount}}</span>
          </a>
        </ng-template>
      </li>
    </ul>
  </li>
</ul>
