<div #tabListContainer [class.scrolling]="_scrolling" class="nav-tabs-wrapper {{_navTabClass}}">
  <span class="nav-tabs-navigator left"><i class="pg pg-arrow_left"></i></span>
  <ul (click)="$event.preventDefault()" [ngClass]="classMap" class="nav nav-tabs {{_navTabClass}}">
    <li *ngFor="let tabz of tabs" [class.disabled]="tabz.disabled"
        [ngClass]="['nav-item']">
      <a (click)="tabz.active = true;" [attr.id]="tabz.id ? tabz.id + '-link' : ''"
         [class.active]="tabz.active"
         [class.disabled]="tabz.disabled" class=""
         href="javascript:void(0);">
        <span [ngTransclude]="tabz.headingRef">{{ tabz.heading }}</span>
        <span (click)="$event.preventDefault(); removeTab(tabz);" *ngIf="tabz.removable" class="bs-remove-tab"> &#10060;</span>
      </a>
    </li>
  </ul>
  <span class="nav-tabs-navigator right"><i class="pg pg-arrow_right"></i></span>
</div>
<div class="tab-content {{_tabContentClass}}">
  <ng-content></ng-content>
</div>
